*{
  
    margin:0px;
    padding:0px;
}
body{
    display:flex;
    align-content:center;
   height:700px;
    width:100%;
    margin:0px;
    padding: 0px;
    color:black;
    background-color:rgb(88, 93, 88);
    font-family:Helvetica, sans-serif;
    background-image:linear-gradient(to top,rgba(14, 14, 13, 0.637)20%,rgba(100, 98, 96, 0)60%,rgba(14, 14, 13, 0.8)100%),url(back6.jpg);
    background-size:cover;
    background-repeat:no-repeat;
 
}
#first{
    background-color:transparent;
    position:relative;
    height:300px;
    top:60px;
    left:33%;
    padding:10px;
    border:2px,solid;
    color:black;
    
   
}
#sideim{
    height:100px;
}


input{
    height:25px;
    width:250px;
    margin-bottom:20px;
    margin-top:20px;
    margin-left:20px;
    background-color:white;
    color:black;
    text-align:center;
    border:2px solid transparent;
    border-radius:0.25rem;
   
}

#btn{
    width:100px;
    position:relative;
    left:100px;
    font-size:16px;
    background-color:grey;
    color:black;
    font-weight:500;
    border-color:black;
    border-width:2px;
    border-style:solid;
    border-radius:0.25rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#btn:active{
    background-color:white;
}
input:hover{
    border-color:black;
}

p{
    position:relative;
    left:30px;
    font-size:24px;
    font-weight:700;
    
}
#cel{
    display:flex;
    
}
#kel{
      display:flex;
}
#far{
    display:flex;
}
#heading{
    display:inline-flex;
    position:relative;
    left:0px;
}
#im{
    position: relative;
    top:3px;
    left:30px;
    height:25px;
}
.icon{
    color:white;
    height:29px;
    width:40px;
    position:relative;
    top:20px;
    right:0px;
    background-color:grey;
    border:2px solid transprent;
    border-radius:0.25rem;
    display:flex;
    align-items:center;
    justify-content: space-around;
    margin:0px;
}